/* line 1, app/css/main.less */
body {
  background-color: white;
  margin: 0px;
}
/* line 6, app/css/main.less */
.container {
  width: 100vw;
  padding-top: 60px;
  overflow-x: hidden;
}
/* line 12, app/css/main.less */
p,
ul {
  font-family: 'Tajawal', sans-serif;
  font-size: 14pt;
}
/* line 17, app/css/main.less */
ul {
  line-height: 120%;
  font-size: 12pt;
}
/* line 21, app/css/main.less */
ul li {
  margin-bottom: 20px;
}
/* line 26, app/css/main.less */
#header {
  width: 100%;
  box-shadow: 0px 2px 3px 0px rgba(40, 40, 40, 0.1);
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #f7f7f7;
  z-index: 100;
}
/* line 36, app/css/main.less */
#header #header-container {
  /*max-width: 1024px;*/
  margin: 0px auto;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 44, app/css/main.less */
#header #header-container img {
  max-height: 40px;
}
/* line 49, app/css/main.less */
#header #dmlogo {
  height: 27px;
  margin-top: 6px;
}
/* line 54, app/css/main.less */
#header #sponsorLogoContainer {
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 8pt;
  display: inline-block;
}
/* line 60, app/css/main.less */
#header #sponsorLogoContainer img {
  vertical-align: middle;
}
/* line 63, app/css/main.less */
#header #sponsorLogoContainer #paidFor {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 71, app/css/main.less */
.parallax {
  height: 90vh;
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
  background-attachment: fixed;
  background-image: url("images/top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 82, app/css/main.less */
#topimg {
  background-image: url("images/MainHeaderImage.jpg");
  margin-bottom: 70px;
}
/* line 87, app/css/main.less */
#bottomimg {
  background-image: url("images/defoe.jpg");
  height: 100vh;
}
/* line 92, app/css/main.less */
#video {
  width: 100%;
  height: auto;
}
/* line 97, app/css/main.less */
.body-text {
  max-width: 600px;
  margin: 0px auto;
}
/* line 101, app/css/main.less */
.body-text img {
  max-width: 100%;
}
/* line 107, app/css/main.less */
.full-width img {
  width: 100vw;
}
/* line 112, app/css/main.less */
.drop-cap {
  font-family: 'Playfair Display', serif;
  float: left;
  line-height: 46px;
  font-size: 50px;
  margin-top: -5px;
  margin-right: 3px;
  margin-left: -8px;
}
/* line 122, app/css/main.less */
.headline {
  font-size: 60pt;
  text-align: center;
  margin: 20px auto 85px auto;
  font-weight: 600;
  line-height: 55pt;
  max-width: 800px;
}
/* line 131, app/css/main.less */
.headline,
.pull-quote {
  font-family: 'Anton', serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 100%;
}
/* line 138, app/css/main.less */
.blurb {
  font-weight: 700;
  font-family: 'Tajawal', sans-serif;
  margin-bottom: 40px;
  line-height: 112%;
  font-size: 17pt;
}
/* line 147, app/css/main.less */
.pull-quote {
  width: 200px;
  font-size: 23px;
  line-height: 32px;
  text-align: center;
}
/* line 154, app/css/main.less */
.pull-quote-right {
  float: right;
  margin-right: -80px;
  margin-left: 20px;
}
/* line 160, app/css/main.less */
.pull-quote-left {
  float: left;
  margin-left: -80px;
  margin-right: 20px;
}
/* line 166, app/css/main.less */
footer {
  margin: 20px;
  text-align: center;
}
/* line 167, app/css/main.less */
footer p {
  font-size: 10pt;
}
/* line 175, app/css/main.less */
#topimg {
  /*margin-left: -100vw;*/
  /*background-color: #000;*/
}
/* line 180, app/css/main.less */
#presidentContainer {
  width: 100vw;
  margin-bottom: 76px;
}
/* line 183, app/css/main.less */
#presidentContainer .overlay {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
/* line 189, app/css/main.less */
#presidentContainer .show-overlay {
  opacity: 1;
}
/* line 194, app/css/main.less */
#presidentContainer .hotspot {
  position: absolute;
  opacity: 0.8;
  border: 5px #bfecfd solid;
  z-index: 99;
  transition: opacity 0.5s ease-in-out;
}
/* line 205, app/css/main.less */
#PresidentHotelAd {
  margin-top: 70px;
}
/* line 209, app/css/main.less */
.is-fixed {
  position: fixed !important;
  top: 25%;
}
/* line 214, app/css/main.less */
#presidentMobileContainer {
  background-image: url("images/mobile/PresidentHotelMainImageMobile.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300vh;
  margin: 40px 0px 60px 0px;
}
/* line 223, app/css/main.less */
#presidentMobileContainer .overlay-text-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 75vh;
}
/* line 229, app/css/main.less */
#presidentMobileContainer .overlay-text {
  color: white;
  background-color: rgba(40, 40, 40, 0.7);
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  border: 1px rgba(180, 180, 180, 0.4) solid;
}
/* line 237, app/css/main.less */
#presidentMobileContainer .overlay-text ul {
  padding: 10px 40px 0px 40px;
}
/* line 242, app/css/main.less */
#presidentMobileContainer .show-text-overlay,
#presidentMobileContainer .show-overlay {
  opacity: 1;
}
/* line 246, app/css/main.less */
#presidentMobileContainer .overlay {
  position: fixed;
  top: 40px;
}
@media screen and (min-width: 737px) {
  /* line 255, app/css/main.less */
  .show-mobile {
    display: none;
  }
  /* line 259, app/css/main.less */
  .hide-desktop {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  /* line 266, app/css/main.less */
  .pull-quote-right,
  .pull-quote-left {
    float: none;
    width: 100%;
    margin: 20px 0px;
    clear: both;
    text-align: center;
  }
  /* line 274, app/css/main.less */
  .body-text {
    margin: 0px 100px;
    max-width: none;
    display: block;
  }
  /* line 281, app/css/main.less */
  #bottomimg {
    background-size: 100%;
    background-position-y: 50px;
  }
  /* line 286, app/css/main.less */
  .hide-mobile {
    display: none;
  }
  /* line 290, app/css/main.less */
  .show-desktop {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 297, app/css/main.less */
  .body-text {
    margin: 0px 60px;
  }
  /* line 301, app/css/main.less */
  #header {
    position: absolute;
  }
  /* line 304, app/css/main.less */
  #header #header-container img {
    max-height: 26px;
  }
  /* line 308, app/css/main.less */
  #video {
    height: auto;
  }
  /* line 312, app/css/main.less */
  .headline {
    font-size: 40pt;
    margin: 20px auto 46px auto;
  }
  /* line 317, app/css/main.less */
  .parallax {
    height: 358px;
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url(images/top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 759px;
    background-position-y: 44px;
  }
  /* line 330, app/css/main.less */
  #topimg {
    margin-bottom: 50px;
  }
  /* line 334, app/css/main.less */
  #presidentMobileContainer {
    margin-top: 0px;
  }
  /* line 338, app/css/main.less */
  .presidentMobileContainer-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
  }
  /* line 345, app/css/main.less */
  #sponsorMobileContainer {
    background-image: url("images/mobile/MobileHeader2.jpg");
    height: 38px;
    text-align: center;
    padding-top: 8px;
    box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.3);
  }
  /* line 351, app/css/main.less */
  #sponsorMobileContainer img {
    height: 30px;
  }
  /*.parallax, #topimg, #bottomimg {
		height: 70vh;
		background-size: 100%;
		background-color: #0e0e0e;
	}*/
}

.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}


/*# sourceMappingURL=app.css.map*/